@font-face {
	font-family: 'Calibri';
	src: url('fonts/Calibri/Calibri.eot');
	src: local('☺'), url('fonts/Calibri/Calibri.woff') format('woff'), url('fonts/Calibri/Calibri.ttf') format('truetype'), url('fonts/Calibri/Calibri.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

